# Physical pin constraints for iCE40HX8K-CT256
set_io clk J3
# UART transmit to PC (connect to USB-Serial adapter RX)
set_io uart_tx B12

# Capacitive touch sensor pins - assign 50 available balls from the datasheet/user guide
# Example assignments (replace with actual available pins from iCE40HX8K-CT256 pinout):
set_io sense_pins[0] R1
set_io sense_pins[1] P2
set_io sense_pins[2] N2
set_io sense_pins[3] M1
set_io sense_pins[4] L1
set_io sense_pins[5] K1
set_io sense_pins[6] J1
set_io sense_pins[7] H1
set_io sense_pins[8] G1
set_io sense_pins[9] F1
set_io sense_pins[10] D2
set_io sense_pins[11] C2
set_io sense_pins[12] B2
set_io sense_pins[13] P1
set_io sense_pins[14] N3
set_io sense_pins[15] M2
set_io sense_pins[16] L3
set_io sense_pins[17] K3
set_io sense_pins[18] J2
set_io sense_pins[19] H2
set_io sense_pins[20] G2
set_io sense_pins[21] F2
set_io sense_pins[22] E2
set_io sense_pins[23] D1
set_io sense_pins[24] C1
set_io sense_pins[25] B1
set_io sense_pins[26] T16
set_io sense_pins[27] T14
set_io sense_pins[28] P13
set_io sense_pins[29] M11
set_io sense_pins[30] P10
set_io sense_pins[31] R10
set_io sense_pins[32] P9
set_io sense_pins[33] T6
set_io sense_pins[34] T8
set_io sense_pins[35] R6
set_io sense_pins[36] R5
set_io sense_pins[37] R4
set_io sense_pins[38] T3
set_io sense_pins[39] T2
set_io sense_pins[40] R16
set_io sense_pins[41] T15
set_io sense_pins[42] T13
set_io sense_pins[43] N12
set_io sense_pins[44] N10
set_io sense_pins[45] T11
set_io sense_pins[46] T10
set_io sense_pins[47] P8
set_io sense_pins[48] T9
set_io sense_pins[49] T7
set_io sense_pins[50] B15
set_io sense_pins[51] B14
set_io sense_pins[52] B11
set_io sense_pins[53] C7
set_io sense_pins[54] C9
set_io sense_pins[55] B9
set_io sense_pins[56] A7
set_io sense_pins[57] C6
set_io sense_pins[58] C5
set_io sense_pins[59] C4
set_io sense_pins[60] R2
set_io sense_pins[61] T1
set_io sense_pins[62] R3
set_io sense_pins[63] A15
set_io sense_pins[64] T5
set_io sense_pins[65] A11
set_io sense_pins[66] A10
set_io sense_pins[67] A9
set_io sense_pins[68] B8
set_io sense_pins[69] B7
set_io sense_pins[70] A6
set_io sense_pins[71] B6
set_io sense_pins[72] A5
set_io sense_pins[73] B5
set_io sense_pins[74] B4
set_io sense_pins[75] A2
set_io sense_pins[76] R15
set_io sense_pins[77] P15
set_io sense_pins[78] M15
set_io sense_pins[79] L16
set_io sense_pins[80] K16
set_io sense_pins[81] J14
set_io sense_pins[82] F14
set_io sense_pins[83] G15
set_io sense_pins[84] F15
set_io sense_pins[85] E14
set_io sense_pins[86] D15
set_io sense_pins[87] D14
set_io sense_pins[88] B16
set_io sense_pins[89] F16
set_io sense_pins[90] E16
set_io sense_pins[91] P16
set_io sense_pins[92] N16
set_io sense_pins[93] M16
set_io sense_pins[94] K15
set_io sense_pins[95] K14
set_io sense_pins[96] G14
set_io sense_pins[97] J15
set_io sense_pins[98] H16
set_io sense_pins[99] G16
